.textInput {
  @apply relative;

  span:global(.password:not(.border-error)) {
    --tw-border-opacity: 0.2;
  }

  input {
    @apply h-14;
  }

  label {
    @apply transition-all absolute pointer-events-none top-4 left-10 text-gray-900;
  }

  input:is(:focus, :not(:placeholder-shown)) ~ label {
    @apply top-1 text-xs;
  }

  textarea:is(:focus, :not(:focus):valid, :not(:placeholder-shown)) {
    @apply pt-3;

    ~ label {
      @apply top-1 text-xs;
    }
  }
}

.radioInput {
  @apply flex-row;
}
